#mycanvas {
    background: #cdcdcd; 
    position:fixed; 
    z-index:-1; 
    height: 100vh; 
    width: 100vw; 
    display: block;
}

.login-card {
    min-height: 80vh !important;
    margin: unset !important; 
    position: absolute !important; 
    right: 2% !important; 
    top: 4% !important;
}

label{
    color: black !important;
}

#toast-container {
    top: auto !important;
    left: auto !important;
    bottom: 10%;
    right:50%;
}

#main-row { display: flex; }

hr.rounded {
    border-top: 8px solid black;
    border-radius: 5px;
    width: 70%;
}

#scrollbar-1::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

#scrollbar-1::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

#scrollbar-1::-webkit-scrollbar-thumb
{
  border-radius: 1px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}